.main {
  background-color:lightsteelblue;
  padding: 3rem;
  margin: 5rem auto;
  max-width: 34rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem  rgba(0, 0, 0, 1);
}

.main h1 {
  font-size: 2rem;
  text-align: center;
}

.form {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  font-size: 1.5rem;
  min-width: 80%;
  padding: 0 1rem;
  border: 0.1rem solid #ccc;
}

.form button {
  border: none;
  height: 1.9rem;
  width: 1.9rem;
  background-color: #f04c64;
  color: #fff;
  margin: 0 0 0 0.5rem;
}

